* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: #fdfbf3;
    padding: 40px;
}



#parentInfo {
    display: none;
}

#rulesBox {
    height: 160px;
    width: 100%;
    overflow: auto;
    border: 1px solid #000;
    background-color: #eefef1;
    border-radius: 5px;
    padding: 25px;

}

/* Custom scrollbar */
#rulesBox::-webkit-scrollbar {
    width: 12px;
}


#rulesBox::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    border: 3px solid #f1f1f18a;
}

#rulesBox::-webkit-scrollbar-thumb:hover {
    background: #555;
}


fieldset {
    border: none;
    border-radius: 25px;
    background-color: #badc58;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 8px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}

input[type='checkbox'] {
    accent-color: #282e65;
}

#passwordError {
    height: 48px;
}

.error {
    height: 24px;
    font-size: 1rem;
    color: #fc1616;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.checkBox input[type="checkbox"] {
    width: 25px;
    height: 19px;
    border: 2px solid #4f7340;
    border-radius: 5px;
}

input::placeholder {
    color: #aebeb1;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}


label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.checkBox label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}



.under {
    display: block;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: -15px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: red;
}

input {
    border-radius: 5px;
    background-color: #eefef1;
    border: 2px solid #eefef1;
    padding: 13px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-left: 0;
    margin-right: 0;
}

input:focus {
    outline: none;
    border: 2px solid #4f7340;
}

.child100 {
    flex: 1 100%;
}

.child50 {
    flex: 1 49%;
}

#parentInfoFields {
    display: none;
}

#formSubmit,
#formNext {
    background-color: #282e65;
    width: 200px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #eefef1;
    border-radius: 8px;
    font-size: 35px;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}


.myFields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.child55 {
    flex: 1 100%;
}

.child30 {
    flex: 1 33%;
}

#rulesBox h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#rulesBox p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14.5px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

#success {
    margin-top: 50px;
}

.logo {
    display: inline-block;
    max-width: 15%;
}

.formStyle {
    border-radius: 25px;
    background-color: #badc58;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid black;
}

.formStyle h2 {
    margin-bottom: 20px;
}

.formStyle span {
    display: block;
    margin-bottom: 10px;
}

.formStyle strong {
    font-weight: bold;
}

.formStyle p {
    display: inline;
    margin-left: 10px;
}

.line {
    display: block;
    height: 2px;
    /* Set the height of the line */
    background-color: #000;
    /* Set the color of the line */
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.formStyle p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#success .ready {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.successInfo {
    display: block;
    margin: 0 auto;
    background-color: #eefef1;
    max-width: 85%;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.18);
    padding: 15px;
}

.successInfo span {
    margin-left: 30px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px;

}

.successInfo p {
    text-align: left;
    font-size: 18px;

}

.successInfo .sub {
    display: block;
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.formStyle .scratchP {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}